{% extends "base.twig" %}

{% block content %}
    <div>Popular accessory</div>
    <div>
	{% include 'components/hero.twig' %}

    {% include 'components/accessory-card-grid.twig' %}
    </div>
{% endblock %}
