{% extends "base.twig" %}

{% block content %}
    {# Popular accessory listing #}
    <section class="px-5 lg:px-0 md:max-w-[1009px] mx-auto">
        <h2 class="text-h2 text-center mb-14">Our most popular accessories</h2>
        <div class="space-y-[35px]">
            {% for accessory in accessories %}
                {% include "./components/accessory-card.twig" %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
