/wp-admin
/wp-includes

/wp-content/languages
/wp-content/plugins
/wp-content/upgrade
/wp-content/uploads
/wp-content/themes/twentytwentyone
/wp-content/themes/twentytwentytwo
/wp-content/themes/twentytwentythree

/wp-content/themes/swytch/assets
/wp-content/themes/swytch/parts
/wp-content/themes/swytch/styles
/wp-content/themes/swytch/templates

/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php